.typewriter {
    color: white;
    background-color: #000c;
    padding: 1.2rem;
    border-radius: 0.5rem;
    border: solid 2px #111;
    backdrop-filter: blur(4px);
    font-size: 1.2rem;
    font-family: monospace;
}