* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #000;
    color: #eee;
    background-image: url('./media/story-scenes/home3.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 699px) {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}

.page-header {
    font-size: 2.4rem;

    .heading {
        text-align: center;
        margin-top: 2.2rem;
        line-height: 1.1;
        color: #eee;
    }

    @media screen and (max-width: 1000px) {
        font-size: 4.5vw;
    }

    @media screen and (max-width: 700px) {
        font-size: 6vw;
    }
}

.logout-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0.4rem 0.8rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    line-height: 1;
}